.footerMessage {
    cursor: default;
    display: block;
}

.socialsBlock {
    display: inline-flex;
}

.socials {
    margin-left: 10px;
    margin-right: 10px;
}

.links {
    color: white;
    text-decoration: none;
}

.links:hover {
    color: rgb(255, 154, 72);
}

