
/* this file will have the main properties such as color, backgrounds, and grid displacement */

.body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    margin: 0;
    min-height: 100vh;
    color: rgb(238, 238, 238);
}

.header {
    background-color: rgb(45, 50, 80);
    padding: 1em;
    display: flex;
    align-items: center;
}

.main {
    background-color: rgb(66, 71, 105);
}

.footer {
    background-color: rgb(45, 50, 80);
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}