.headerTitle {
    font-size: 35px;
    cursor: default;

}

.inline {
    display: inline;
    margin: 30px;
}

.headerButton, .changeMode {
    background-color: rgb(28, 31, 46);
    color: white;
    border: none;
    cursor: pointer;
    display: inline-flex;
    height: 6vh;
    width: 10vw;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.44);
    outline-offset: 4px;
    padding: 0;
}

.changeMode {
    width: 3vw;
}

.headerLogo {
    margin-right: 3%;
}


.headerButton > .front:active , .changeMode > .front:active {
    transform: translateY(-3px);
}

.headerButton > .front , .changeMode > .front{
    font-size: 18px;
    height: 6vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(35, 39, 61);
    transform: translateY(-6px);
    margin: 0;
    padding: 0;
}

#stopwatch {
    background-color: rgb(197, 112, 43);
}

#stopwatchFront {
    background-color: rgb(253, 147, 60);
}